name: Build and Test

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+-Beta*"
      - "[1-9][0-9]?.[0-9]+.[0-9]+-RC*"
      - "[1-9][0-9]?.[0-9]+.[0-9]+-Stable*"

jobs:
  build-and-test:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: [ '9.0.x', '10.0.x' ]
    steps:
    - uses: actions/checkout@v5
    - name: Setup .NET ${{ matrix.dotnet-version }}
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: ${{ matrix.dotnet-version }}
    - name: Build on dotnet ${{ matrix.dotnet-version }}
      run: dotnet build PSnaps/PSnaps.csproj
    - name: Test on dotnet ${{ matrix.dotnet-version }}
      run: dotnet test --verbosity normal PSnaps.Tests/PSnaps.Tests.csproj
    - name: PS Module Validation
      shell: pwsh
      run: |
        sudo snap install powershell-preview --classic
        pwsh-preview -c {
        dotnet pack ./PSnaps/PSnaps.csproj
        mkdir -pv ./NuGet/TestRepository
        Register-PSRepository -Name TestRepository -SourceLocation ./NuGet/TestRepository -InstallationPolicy:Trusted -ErrorAction Stop
        Publish-PSResource -NupkgPath ./PSnaps/bin/Release/*.nupkg -Repository TestRepository
        Install-Module -Repository TestRepository -Name PSnaps -AllowPrerelease -ErrorAction Stop -SkipPublisherCheck
        Import-Module PSnaps -ErrorAction Stop
        Get-SnapPackage -All
        Remove-Module PSnaps  -ErrorAction Stop
        }
        
